* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vmax;
}

/* @media (min-width: 760px) {
    body {
      font-size: 12px;
    }
  }

  @media (min-height: 1000px) {
    body {
      font-size: 12px;
    }
  } */

  .center {
      max-width: 1000px;
      padding-left: 2vmax;
      padding-right: 2vmax;
      margin: 0 auto;
      text-align: center;
      /* border: 1px solid #ccc; */
}
    
.limit-width {
    max-width: 80%;
}

body > header {
    background: #eee;
    height: 5vmax;
}

#header {
    display: flex;
    justify-content: space-between;
}

#logo {
    display:inline-block;
    border: 1px solid gray;
}
#user {
    display:inline-block;
    float: right;
    border: 1px solid gray;
}

nav {
    background: #333;
    color: white;
    height: 4em;
}

button {
    /* min-width: 30vmax; */
    background: white;
    border: 2px solid #555;
    /* padding-left: 2vmax;
    padding-right: 2vmax; */
    padding: 0.2vmax 1vmax;
    font-size: 1.2vmax;
    border-radius: 2.4vmax;    
    cursor: pointer;
}
input {
    font-size: 1.2vmax;
    padding: 0.2vmax 1vmax;
    border: none; 
    border:solid 0.2vmax #ccc;
    border-radius: 2.4vmax;
    margin-right: 1vmax;
}



section img {
    max-height: 40vmax;
    width: 100%;
    object-fit: cover;
}

section {
    padding-bottom: 3vmax;
}

section h1 {
    font-weight: bold;
    font-size: 6vmax;
    text-align: center;
   
    margin: 0 auto;
    padding: .4em 3em .2em 3em;
}

section p {
    font-size: 3vmax;
    text-align: center;
    margin: 0 auto;  
    padding: .5em 5em .2em 5em;  
    line-height: 4vmax;
         
}

section button {
    display: block;
    font-size: 2.4vmax;
    text-align: center;
    margin: 1em auto;  
    /* padding: .5em 5em .2em 5em;         */
}

section footer button {
    font-size: 1.6vmax;
}



section p button {   
    font-size: 2.6vmax;
}

body > footer {
    background: #333;
    color: white;
    height: 4em;
    min-height: 400px;
}

/*****************************************************************************/
article {
    padding-bottom: 2vmax;
}

article header {
    font-size: 2.6vmax;
    padding-bottom: 1vmax;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

article header input {
    width: 50%;    
    /* border: 1px solid lightblue; */
}

article footer {
    font-size: 1.6vmax;
    padding-top: 1vmax;
    text-align: right;
}

article ul {
    padding: 0;
    
}
article ul li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    /* height: 3em; */
    border-top: 2px solid #ccc;
    font-size: 1.4vmax;
    padding: .8vmax 0;
    cursor: pointer;
    
    display: grid;
    grid-template-columns: 1fr 8fr 8fr 4fr;
}

article ul li:last-child {
    border-bottom: 2px solid #aaa;
}

article ul li > * {
    padding: .2vmax 2vmax .2vmax 1vmax;     
    border-right: 2px solid #eee;
}

article li .thumb {
    padding-left: 0;
}

article li .thumb img {
    display:block;
    width: 5vmax;
}

article ul li .title {
}

article li .title h3 {
    font-style: bold;
    font-size: 1.8vmax;
}

article li .title p {
    font-size: 1.6vmax;
    padding:0;
    text-align: inherit;
}
    

article li .originators {

}

article li .types {

}

article li .play {

}

article li .play button {
    
}

/*******************************************************/

article li.no-music {
    border: 1px solid #ddd;
    padding: 2vmax;
    margin-bottom: 1vmax;
    border-radius: 1vmax;
    background: #afa;
    display: inherit;
}    

article li.no-music h3 {
    font-size: 2vmax;
}

article li.search-choir {
    background: #afa;
}

article li.sensus-singer {
    background: #faa;
}

article li.shop {
    background: #aaf;
}


