:root {
    --scorxblue: #004C73;
    --scorxlightblue: #13AAFF;
    --scorxgreen: #00ADA8;
    --scorxcleargreen: #00B777;
    --scorxdarkgreen: rgb(42, 109, 107);
    --scorxred:#E82747;
    --scorxyellow:#FFB317;
    --scorxlightgray: #EBEBEB;

    
}