
html {
    font-size: calc(1vmin + 8px);
}

body {
    font-family: 'Open Sans', sans-serif;
    /* color: var(--scorxblue); */
}

 /* @media only screen and (min-height: 1000px) {
    html {
      font-size: 20px;
    }
  } */

h1 {
    font-size: 8vmin;
    line-height: 8vmin;
    padding-bottom: 1rem;
} 

h2 {
  font-size: 5vmin;
  line-height: 5vmin;
  padding-bottom: 1rem;
} 

h3 {
  font-size: calc(1.2vmin + 10px);
  line-height: calc(1.4vmin + 12px);
  padding-bottom: 1rem;
} 

