
/*
This file is a mess! :-)
*/

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6vmax;
}

#body{
    height: 100%;
    overflow: auto;
    /* -webkit-overflow-scrolling: touch; */
}
.vspace {
    padding-top: 2vmax;
    padding-bottom: 2vmax;
}

.centerdiv {
    max-width: 1000px;

}

.centerpad {
    max-width: 1000px;
    padding-left: 2vmax;
    padding-right: 2vmax;
    margin: 1vmax auto;
}

.center-narrow {
    max-width: 700px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    text-align: center;

}
    
.limit-width {
    max-width: 80%;
}

#body > header {
    background: #eee;
    height: 5vmax;
    padding: 1vmax;
}

#header {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
}

#logo {
    display:inline-block;
    border: 1px solid gray;
}
#user {
    display:inline-block;
    float: right;
    border: 1px solid gray;
}

#body > nav {
    background: #333;
    color: #aaa;   
    padding: 1vmax; 
}

#body > footer {
    background: #333;
    color: white;    
    min-height: 4vmax;
}

#footer {
    display: grid;
    font-size: 1.2vmax;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1vmax;
}

#footer ul {
    padding: 0.4vmax 1vmax;
}

.sensus {
    color:lightgreen;
}

button {
    /* min-width: 30vmax; */
    background: white;
    border: 2px solid #555;
    /* padding-left: 2vmax;
    padding-right: 2vmax; */
    padding: 0.2vmax 1vmax;
    /* font-size: 1.2vmax; */
    border-radius: 2.4vmax;    
    cursor: pointer;
}

input {
    /* font-size: 1.2vmax; */
    padding: 0.2vmax 1vmax;
    border: none; 
    border:solid 0.2vmax #ccc;
    border-radius: 2.4vmax;
    margin-right: 1vmax;
}

select {
    text-align: center;
    /* font-size: 2.4vmax;     */
    /* font-size: 1.8vmax; */
    padding: 0.2vmax 1vmax;
    
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 2.4vmax;    
    border:solid 0.2vmax #aaa;
    background-color: #fff;
}

select * {
    /* font-size: 2vmax; */
}



section img {
    max-height: 40vmax;
    width: 100%;
    object-fit: cover;
}

section {
    padding-bottom: 3vmax;
}

p {
    margin-bottom: .3vmax;
}

h1 {
    font-weight: bold;
    font-size: 6vmax;
    text-align: center;   
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    font-size: 3vmax;
    margin-bottom: 1vmax;
}

h3 {
    font-weight: normal;
    font-size: 2.4vmax;
    line-height: 3.4vmax;
}

/* section p {

    text-align: center;
    margin: 0 auto;  
    padding: .5em 5em .2em 5em;  
    line-height: 150%;
         
} */

/* section button {
    display: block;
 
    text-align: center;
    margin: 1em auto;  
 
} */

section footer button {
    /* font-size: 1.6vmax; */
}



section p button {   
    /* font-size: 2.6vmax; */
}



/*****************************************************************************/
article {
    padding-bottom: 2vmax;
}

article header {
    /* font-size: 2.6vmax; */
    padding-bottom: 1vmax;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

article header input {
    width: 50%;    
    /* border: 1px solid lightblue; */
}

article footer {
    /* font-size: 1.6vmax; */
    padding-top: 1vmax;
    text-align: right;
}

article ul {
    padding: 0;
    
}
article ul li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    /* height: 3em; */
    border-top: 2px solid #ccc;
    /* font-size: 1.4vmax; */
    padding: .8vmax 0;
    cursor: pointer;
    
    display: grid;
    grid-template-columns: 1fr 8fr 8fr 4fr;
}

article ul li:last-child {
    border-bottom: 2px solid #aaa;
}

article ul li > * {
    padding: .2vmax 2vmax .2vmax 1vmax;     
    border-right: 2px solid #eee;
}

article li .thumb {
    padding-left: 0;
}

article li .thumb img {
    display:block;
    width: 5vmax;
}

article ul li .title {
}

article li .title h3 {
    font-style: bold;
    /* font-size: 1.8vmax; */
}

article li .title p {
    /* font-size: 1.6vmax; */
    padding:0;
    text-align: inherit;
}
    

article li .originators {

}

article li .types {

}

article li .play {

}

article li .play button {
    
}

/*******************************************************/

article li.no-music {
    border: 1px solid #ddd;
    padding: 2vmax;
    margin-bottom: 1vmax;
    border-radius: 1vmax;
    background: #afa;
    display: inherit;
}    

article li.no-music h3 {
    /* font-size: 2vmax; */
}

article li.search-choir {
    background: #afa;
}

article li.sensus-singer {
    background: #faa;
}

article li.shop {
    background: #aaf;
}

/************************************************/

.groupapplications {
    padding-top: 2vmax;
}

.application {
    border:5px solid #555;
    background: #eee;
    border-radius: 2vmax;
    padding: 1vmax 2vmax;
    margin: .5vmax 1vmax;
    text-align: left;
    cursor:pointer;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 1vmax;
}

.application button {
    /* font-size: 100%; */
}

.application.start {
    background:lime;
}

.application.pending {
   background:skyblue;
}

.application.rejected {
    background:tomato;
}

.groupapplications {
    text-align:center;
}

.groupsearch {
    margin: 0 10%;
    text-align:center;
    /* font-size: 2.2vmax; */
    width: 80%;
}

h3.groupsearch {
    font-size: 3vmax;
}

.groupinvitation input {
    margin: 0 25%;
    text-align:center;
    /* font-size: 2.2vmax; */
    width: 50%;
}

span.button {
    padding: 1vmax;
    margin-right: 1vmax;
    cursor:pointer;
}

span.button:hover {
    background: #666;
}

.createuser {
    display: grid;
    grid-gap: 2vmax;
    width: 80%;
    margin: 3vmax 10%;
    
}

.createuser h2 {
    margin-top: 3vmax;
}

.createuserform {
    display: grid;
    grid-gap: 2vmax;
    width: 80%;
    margin: 0 10%;    
}

.createuserform input {
    /* font-size: 2vmax; */
}

.createuserform button {
    /* font-size: 2vmax; */
}

/**********************************************************/

.email {
    display: grid;
    padding: 2vmax;
    grid-template-columns: 1fr 3fr;
    background: #eee;
    min-height: 30vmax;
    /* font-size: 1.6vmax; */
}

.emailLeft {

}

.emailRight {
    background: white;
    padding: 1vmax;
}

.emailRight details {
    margin-bottom: 1vmax;
    border-radius: .2vmax;
    /* border: 1px solid red; */
}

.emailRight h3 {
    border-bottom: solid 2px #555;
    margin-bottom: 0.5vmax;
}
.emailSender {
    padding: 0vmax 0vmax 0vmax 2vmax;
    background: #ccc;
}

.emailMessage {
    padding: 1vmax 1vmax 1vmax 2vmax;    
    cursor:pointer;
    background: white;
}

.emailRight details:last-child summary {
    font-weight: bold;
}

/****************************************************************************/

details {
    /* border-top: 1px solid #efefef; */
    background: #efefef;
    border-radius: 1vmax;
    text-align: left;
    padding: 1vmax;
    margin-bottom: 0.3vmax;
}

details > div {
    display:grid;
    grid-gap: 1vmax;
    padding: .5vmax;

}

details input {
    /* font-size: 2vmax; */
}

details ul {
    /* list-style: none; */
}

div.invite {
    padding: 1vmax;
    border: 1px solid gray;
    margin-bottom:.3vmax;
    border-radius: 1vmax;
    background: skyblue;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}
div.invite.true {
    background: lime;
}

div.invite button {
    font-size: 1.8vmax;
}

div.invitationform {
    padding: 2vmax;
}
div.invitationform input {
    /* font-size: 1.8vmax; */
}
div.invitationform button {
    /* font-size: 1.8vmax; */
}

/***************************************************************************/

.hide-overlay #overlay {
    left: 100%;
}

#overlay {
    position: fixed;
    top: 0vmax;
    left: 0;
    width: 100%;
    bottom: 0px;
    background-color: white;
    transition: left .2s cubic-bezier(.25, .8, .25, 1);    
    z-index: 1000;
}

.webkit-scrolling {
    -webkit-overflow-scrolling: touch;
}

#overlay header {
    /* border: 1px solid red; */
    height: 6vmax;
    padding: 1vmax;
    background: #eee;
    display: flex;
    justify-content: space-between;
}
 

#overlay iframe {
    height: calc(100% - 6vmax);
    width: 100%;    
    border: 0;
    padding: 1vmax;
    background: #333;
}

/************************************************/

.songListView {
    /* border:1px solid red; */
}

#scorxlist {
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}


h3.scorxlisttitle {
    font-weight: normal;
    /* font-size: 3vmax; */
}

/* .scorxlist::before {
    content:'';
    position: absolute;
    top: -8px;
    width: 100%;
    height: 10px;    
    box-shadow:         0 0 10px #000000; 
    background: red;
} */

.scorxlist {
    margin-top: .6vmax;
    position: relative;
    /* border: .2vmax solid #ccc; */
    /* border-radius: 1vmax; */
    /* border-top: .2vmax solid #ccc;
    border-bottom: .2vmax solid #ccc; */

    /* box-shadow:         inset 0 0 10px #000000; */
    /* pointer-events: none; */

    max-height: 30vmax;
    overflow-y: scroll;
    overflow-x: none;
    padding: 1vmax;
    background: white;
    /* border-radius: .4vmax; */
}

.scorxitem {
    background: white;
    border-bottom: 1px solid #ccc; 
    padding: 1vmax 0;
    /* font-size: 1.6vmax; */
    color: #444;
    /* padding: 1.6vmax; */
    cursor:pointer;
    /* display: flex;
    flex-direction: row; 
    justify-content:space-between; */
    display:grid;
    grid-template-columns: 3fr 2fr 8vmax;
    grid-gap: 1vmax;
}


.scorxitem:first-child {
    padding: 0 0 1vmax 0;
}



.scorxitem .title {
    font-weight: bold;
    color: #000;
    /* font-size: 2.3vmax; */
  
}

.orig {
    padding-top: .4vmax;
}

.scorxitem .idnr {
    color: #aaa;
    margin-left: 1vmax;
}

.ensemble {
    margin-left: 1vmax;
    border: 1px solid #ddd;
    padding: .2vmax .6vmax 0vmax;
    border-radius: 1vmax;
    font-weight: bold;
    /* font-size: 1.2vmax; */
}

.ensemble.SATB {
    background: skyblue;
}

.ensemble.SAB {
    background: lightgreen;
}

.ensemble.SA {
    background: tomato;
}

.ensemble.SAA {
    background: tomato;
}

.ensemble.SSA {
    background: tomato;
}

.ensemble.SSAA {
    background: tomato;
}


.orig span:first-child {
    color: #aaa;
    margin-right: .3vmax;
}





.searchinput select {
    
}

.showall {
    margin: 0;
    /* font-size: 2vmax; */
}

.underlist {
    padding: 2vmax;
    display:flex;
    justify-content: end;
}

/*****************************************************************************/

.infoblobs-wide {
    background: #666;

}

.infoblobs {
    background: #eee;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    /* min-height: 8vmax; */
    margin: 0 auto;
}

.infoblob {
    text-align: center;
    padding: 1vmax;
    
    
}

.infoblob-content {
    /* margin-top: 1vmax; */
    transform: rotate(-8deg);
    padding: 3vmax;
    cursor: pointer;
}

.infoblob-title {
    font-weight: bold;
    /* font-size: 1.7vmax; */
}

.infoblob-info {
    /* font-size: 1.4vmax; */
}

.infoblob:nth-child(1) {
    background: lightpink;
}
.infoblob:nth-child(2) {
    background: mediumaquamarine;
    color: white;
}

.infoblob:nth-child(3) {
    background:lightseagreen;
    color: white;
}

.twoColumns {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vmax;
    padding: 1vmax 1vmax;
}


button.round {
    font-size: 130%;

}

.smalltext {
    font-size: 1.2vmax;
}

button.bigger {
    font-size: 1.8vmax;
    margin-right: 1vmax;

}

.graytext {
    color: #ccc;
}

details.songlist {
    background: inherit;
    padding: .5vmax;
    border: 2px solid #ccc;
}

span.songlisttitle {
    font-size: 2.8vmax;
}

.songlistcontent {

}


